body{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 2px 2px px;
	background-color: #200;
	font-size: 1.3em
}

#topHeader{
	text-align: center;
	border-radius: 10px;
	padding-bottom: 0;
	overflow: auto;
	white-space: nowrap;
	font-size: 1em;
}
#topHeader img{
	width: 46px;
}

#home_icon_mobile{
	border-radius: 20px;
	width: 25%;
	float: left;
	height: 100%;
	background-color: #adb;
}

#blog_icon_mobile{
	border-radius: 20px;
	width: 25%;
	float: left;
	background-color: #caa;
}

#head_title_mobile{
	border-radius: 20px;
	width: 50%;
	float: left;
	background-color: #9bd;
}

/*
#home_icon{
	background-color: #adb;
	border-radius: 20px;
	width: 25%;
	float: left;
	height: 100%;
	display: none;
}

#blog_icon{
	background-color: #caa;
	border-radius: 20px;
	width: 25%;
	float: left;
	display: none;

}

#head_title{
	border-radius: 20px;
	width: 50%;
	float: left;
	display: none;
	background-color: #9bd;
}
*/



#externalLinks {
	border-radius: 10px;
}
#externalLinks img{
	width: 95px;
	border-radius: 5px;
}

#bio {
	border-radius: 10px;
}

#Column1{
	padding: 5px;
	margin: 10px;
	min-height: 100px;
	background-color: #DDD;
	margin-bottom: 20px;
}
#Column1 a{
	text-decoration:none;
	color: #00a;
}

#profilePic img{
	float: left;
	width: 100px;
	border-radius: 50px;	
}

#Column2{
	background-color: #DDD; 
	border-radius: 10px;
	margin-top: 10px;
}

p, h1, h2, h3, h4, h5, h6, img{
	margin: 3px 3px 3px 3px;
}
p{
	padding-bottom: 15px;
}

ol{
	padding: 0px;
}

ol li{
	display: inline;
	white-space: nowrap;
	margin-right: 20px;
}

.code-block{
	padding: 5px 5px 5px 5px;
	margin: 5px 10px 5px 10px;
	background-color: #FFF;
	border-style:solid;
	border-color:#BBB;
	border-width:1px;
	font-family: "Lucida Console", Monaco, monospace;	
	font-size: 80%;
}

data-code{
	padding: 1px 5px 2px 5px;
	background-color: #FFF;
	border-style:solid;
	border-color:#BBB;
	border-width:1px;
	font-family: "Lucida Console", Monaco, monospace;	
	font-size: 80%;
}

data-comment{
	color: #999;		
	font-size: 80%;
}

data-date{
	color: #666;		
	font-size: 14px;
	font-style: italic;
	white-space: nowrap;	
}


/*big screens override above css*/
@media only screen and (min-width: 40em) {
	body{
		padding: 0px 10px 10px 10px;

	}

	html body #Column1{
		float: left;
		/*position: absolute;*/
		width: 250px;
		margin-bottom: 10px;
	}
	#profilePic img{
		width: 225px;
		display: block;
		border-radius: 10px;
	}
	
	#Column2{
		float: left;
		/*position: absolute;*/
		/*margin-left: 210px;*/
		/*margin-right: 10px;*/
		max-width: 1200px;
	}

.code-block{
	margin-left: 280px;
}

	
	#Column2 > div{
	margin-bottom: 100px;
	}
	
	
	#topHeader{
		font-size: 1.5em;
	}		
	
	#topHeader img{
		width: 58px;
	}	
	
	#home_icon_mobile, #blog_icon_mobile,  #head_title_mobile{
		display: none;
	}

	#home_icon, #blog_icon, #head_title{
		display: inline;
	}

}
/* put the links in a list and add spaces between them; make them anchors and make the whole blog one big page? */