
#topHeader{
	background-color: #DBB; 
	text-align: center;
	border-radius: 10px;
}

#externalLinks img{
	width: 100px;
	border-radius: 5px;
}
#externalLinks {
	background-color: #BBB;
	border-radius: 10px;
}

#bio {
	background-color: #BBB;
	border-radius: 10px;
}


@media only screen and (min-width: 100em) {

	#Column1{
		position: absolute;
		width: 350px;
		background-color: #DDD; 
		border-radius: 10px;
	
	}
	#profilePic img{
		width: 300px;
		border-radius: 20px;
		
	}
	
	
	#Column2{
		position: absolute;
		margin-left: 360px;
		max-width: 850px;
		background-color: #DDD; 
		border-radius: 10px;
	}
}



    /* mobile */
	#Column1{
		background-color: #DDD; 
		border-radius: 10px;
	
	}
	#profilePic img{
		width: 150px;
		border-radius: 20px;
		
	}
	
	
	#Column2{
		max-width: 850px;
		background-color: #DDD; 
		border-radius: 10px;
	}
