body{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 2px 2px px;
	background-color: #200;
	font-size: 1.3em
}

#topHeader{
	background-color: #DBB; 
	text-align: center;
	border-radius: 10px;
	padding-bottom: 0;
}

#externalLinks {
	border-radius: 10px;
}
#externalLinks img{
	width: 100px;
	border-radius: 5px;
}

#bio {
	border-radius: 10px;
}


#Column1{
	border-radius: 10px;
	min-height: 100px
}
#Column1 a{
	text-decoration:none;
	color: #FFF;
}

#profilePic img{
	float: left;
	width: 100px;
	border-radius: 50px;	
}



#Column2{
	background-color: #DDD; 
	border-radius: 10px;
	margin-top: 10px;
}

p, h1, h2, h3, h4, h5, h6, img{
	margin: 3px 3px 3px 3px;
}
p{
	padding-bottom: 15px;
}


/*big screens override above css*/
@media only screen and (min-width: 40em) {
	body{
		padding: 0px 10px 10px 10px;

	}

	#Column1{
		position: absolute;
		width: 200px;
		border-radius: 10px;
	
	}
	#profilePic img{
		width: 194px;
		display: block;
		margin-top: 10px;
		border-radius: 10px;
	}
	
	#Column2{
		position: absolute;
		margin-left: 210px;
		margin-right: 10px;
		max-width: 990px;
	}
}
